<h1>new game page</h1>
<%= form_for @game do |f| %>
  <%= f.label :game_key  %>
  <%= f.text_field :game_key %>
  <br><br>
  <%= f.label :point_limit  %>
  <%= f.number_field :point_limit %>
  <br><br>

  <div style="display: none;">
    <%= f.label :creator_id  %>
    <%= f.number_field :creator_id  %>
  </div>
  <%= f.submit  %>

<% end %>