<!DOCTYPE html>
<html>
  <head>
    <title>Cah</title>
    <h1 class="header">Cards</h1>
    <h1 class="header">Against</h1>
    <h1 class="header">Humanity</h1>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= render 'shared/top_nav'  %>

    <%= yield %>

  </body>
</html>
